@import "../../_settings.scss";

.DMV2-main-swiper-cocktails-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.DMV2-main-swiper-cocktails-card-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    ;
}

.DMV2-mocktails-card-slider-main {
    display: flex;
    // flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    // background-size: cover;
    // border: $borderStyle;
    // border-radius: $borderRadius;
}

// @media screen and (max-width: 992px) {
//     .DMV2-mocktails-card-main-contenair {
//         width: 100%;
//         margin: 0;
//         // min-height: 20vh;
//     }
// }

.DMV2-mocktails-card-slider {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    // background-size: cover;
    // border: $borderStyle;
    // border-radius: $borderRadius;
}

// @media screen and (max-width: 768px) {
//     .DMV2-mocktails-card-main-swiper {
//         width: 100%;
//         margin: 0;
//         height: 100%;
//     }
// }


.DMV2-mocktails-card-slider-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    // height: 100%;
    // width: 100%;
}

.DMV2-mocktails-card-slider-p {
    display: flex;
    flex-direction: column;
    // height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    // background-color: #232327;
}


.DMV2-mocktails-card-main-swiper-slider-nom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    background-color: #053003;
    color: $color-4;
}

.DMV2-mocktails-card-main-swiper-slider-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    text-align: center;
    background-color: #060421c9;
    color: $color-4;
}

.DMV2-mocktails-card-main-swiper-slider-ingredients {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    padding: 1%;
    background-color: #060421c9;
    color: $color-4;
}

.DMV2-block-right-cocktails-card-slider-contenair-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    // height: 80%;
    object-fit: cover;
    background-size: cover;
    border: $borderStyle;
    border-radius: $borderRadius;
    background-color: #01011cfb;
}


.DMV2-mocktails-card-main-swiper-slider-img {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    // object-fit: contain;
    background-size: contain;
    background-color: #01011cfb;

}