@import "../../_settings.scss";

.Drink-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: $borderStyle;
    // border-radius: $borderRadius;
    height: 100%;
    width: 100%;
}

.Drink-titre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 50px;
    border: $borderStyle;
    border-radius: $borderRadius;
    color: $color-2;
    padding: 1%;
}


.Drink-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: $borderStyle;
    border-radius: $borderRadius;
}

.DrinksCocktails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 50%;

}

.DrinksMocktails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 50%;

}

.Drink-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 15vh;
    padding: 1%;
    border: $borderStyle;
    border-radius: $borderRadius;
}

.Drink-footer-navlink-btn {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-direction: row;
    width: 80%;
    max-width: 800px;
    // height: 50px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    // border: $borderStyle;
    // border-radius: $borderRadius;
    color: $color-3;
}

        @media screen and (max-width: 508px) {
            .Drink-footer-navlink-btn{
                width: 100%;
    
    
            }
    
        }




.Drink-footer-navlink-tocarte {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    // height: 100%;
    width: 50%;
    color: $white;
    font-family: $font-2;
}

.Drink-footer-navlink-btn-tocarte {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    border: $borderStyle;
    border-radius: $borderRadius;
    // height: 50px;
    width: 100%;
    background: $color-1;
    color: $white;
    font-family: $font-2;
}

.Drink-footer-navlink-btn-tocarte-icon {
    margin-right: 2%;
    size: 20px;
    color: white;
}

.Drink-footer-navlink-btn-tocarte-span {
    font-size: 15px;

}

@media screen and (max-width: 841px) {
    .Drink-footer-navlink-btn-tocarte-mq {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4%;
        border: $borderStyle;
        border-radius: $borderRadius;
        // height: 50px;
        width: 100%;
        background: $color-1;
        color: $white;
        font-family: $font-2;
    }

    .Drink-footer-navlink-btn-tocarte-icon-mq {
        margin-right: 2%;
        size: 20px;
        color: white;
    }

    .Drink-footer-navlink-btn-tocarte-span-mq {
        font-size: 15px;
    }
}

@media screen and (min-width: 842px) {
    .Drink-footer-navlink-btn-tocarte-mq {
        display: none;
    }
}

@media screen and (max-width: 842px) {
    .Drink-footer-navlink-btn-tocarte {
        display: none;
    }
}

.Drink-footer-Navlink-dlpdf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    // height: 100%;
    width: 50%;
    color: $white;
    font-family: $font-2;
}

.Drink-footer-Navlink-btn-dlpdf {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    border: $borderStyle;
    border-radius: $borderRadius;
    // height: 50px;
    width: 100%;
    background: $color-1;
    color: $white;
    font-family: $font-2;
}

.Drink-footer-Navlink-btn-dlpdf-icon {
    size: 20px;
    color: white;
}

.Drink-footer-Navlink-btn-dlpdf-span {
    font-size: 15px;

}

@media screen and (max-width: 842px) {
    .Drink-footer-Navlink-btn-dlpdf-mq {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // align-items: center;
        padding: 4%;
        // height: 20px;
        min-width: 100%;
        border: $borderStyle;
        border-radius: $borderRadius;
        background: $color-1;
        color: $white;
        font-family: $font-2;
    }

    .Drink-footer-Navlink-btn-dlpdf-icon-mq {
        // display: flex;
        size: 20px;
        color: white;
    }

    .Drink-footer-Navlink-btn-dlpdf-span-mq {
        display: flex;
        font-size: 15px;
    }
}


@media screen and (min-width: 843px) {
    .Drink-footer-Navlink-btn-dlpdf-mq {
        display: none;
    }
}

@media screen and (max-width: 843px) {
    .Drink-footer-Navlink-btn-dlpdf {
        display: none;
    }
}
    

.Drink-footer-navlink-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    max-width: 600px;
    // height: 45px;
    border: $borderStyle;
    border-radius: $borderRadius;
    color: $color-3;
    padding: 1%;
@media screen and (max-width: 768px) {
    justify-content: space-around;
}
    @media screen and (max-width: 648px) {
        width: 80%;
            flex-direction: column;
    }
}


.Drink-footer-navlink-span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: 100%;
    // border: $borderStyle;
    // border-radius: $borderRadius;
    color: $color-3;
    @media screen and (max-width: 768px) {
        display: none;
    }
       

}


@media screen and (max-width: 768px) {
    .Drink-footer-navlink-span-mq {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        // padding-bottom: 2%;
        width: 100%;
        height: 100%;
        font-size: large;
        // border: $borderStyle;
        // border-radius: $borderRadius;
        color: $color-3;
        @media screen and (max-width: 648px) {
                width: 100%;
                padding-bottom: 2%;
            }
        
        
        
    }
    
    
    
          
}

@media screen and (min-width: 768px) {
    .Drink-footer-navlink-span-mq {
        display: none;
    }
}

.Drink-footer-navlink-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    @media screen and (max-width: 768px) {
    width: 30%;
    justify-content: space-between;
    
    }
    // border: $borderStyle;
    // border-radius: $borderRadius;
}

.Drink-footer-social-icon-fb {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.Drink-footer-social-icon-insta {
    width: 80%;
    height: 80%;
    cursor: pointer;
}

.Drink-footer-logo-facebook {
    width: 40px;
    height: 40px;
    border: 2px solid $color-3;
    border-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
}

.Drink-footer-logo-insta {
    width: 40px;
    height: 40px;
    border: 2px solid $color-3;
    border-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}