@import "../../_settings.scss";

.DCV2-main-swiper-cocktails-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

// div.swiper.wrapper{
// display: flex;
// height: 10%;
// }

.DCV2-main-swiper-cocktails-card-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.DCV2-cocktails-card-slider-main {
    display: flex;
    // flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    // background-size: cover;
    // border: $borderStyle;
    // border-radius: $borderRadius;
}

.DCV2-cocktails-card-slider {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    // background-size: cover;
    // border: $borderStyle;
    // border-radius: $borderRadius;
}

.DCV2-cocktails-card-slider-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    // height: 100%;
    // width: 100%;
}

.DCV2-cocktails-card-slider-p {
    display: flex;
    flex-direction: column;
    // height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
        color: $color-4;
}

.DCV2-cocktails-card-slider-nom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    width: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    background-color: #053003;
    color: $color-4;
    // margin-bottom: 20px;
}

// .DCV2-block-right-cocktails-card-slider-categories {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     height: 30%;
//     width: 100%;
//     border: $borderStyle;
//     border-radius: $borderRadius;

// }

.DCV2-cocktails-card-slider-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    text-align: center;
    background-color: #060421c9;
        color: $color-4;
}

.DCV2-cocktails-card-slider-ingredients {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    padding: 1%;
    background-color: #060421c9;
        color: $color-4;
}

.DCV2-cocktails-card-slider-contenair-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    // height: 80%;
    object-fit: cover;
    background-size: cover;
    border: $borderStyle;
    border-radius: $borderRadius;
    
}

.DCV2-cocktails-card-slider-img {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    border: $borderStyle;
    border-radius: $borderRadius;
    // object-fit: contain;
    background-size: contain;
    background-color: #01011cfb;
}